<div>
    {% for post in all_posts %}
        <small>{{post.added}}</small>
        <h3>{{post.title}}  {{post.id}}</h3>
        <br>
        {{post.body}}
        <div class="buttons">
            {{likes.query.filter_by(post_like=post.id).count()}}
            <form action="{{ url_for('like_result') }}" method="post">
                <input type="hidden" name="like_button" value="{{post.id}}">
                <input type="submit" value="Like">
            </form>
        </div>
        <div>
            {{dislike.query.filter_by(post_dislike=post.id).count()}}
            <form action="{{ url_for('dislike_result') }}" method="post">
                <input type="hidden" name="dislike_button" value="{{post.id}}">
                <input type="submit" value="Dislike" name="dislike_button">
            </form>
        </div>
        <hr>
    {% endfor %}
</div>