<style>
    div {
        background-color: #f5ebeb;
        color: aliceblue;
    }

    .flex-container {
        margin: 30px;
        width: 286px;
        height: 190px;	
        display: flex;
        justify-content: center; /* align item horizontally */
        align-items: center; /* align item vertically */
    }
    
    .item {
        max-width: 286px;
        padding: 20px;
        background: #C00404;
    }

    #bottom {
        margin-left: 50px;
        margin-right: 50px;
    }
</style>

<div class="flex-container">
    <div class="item">
        <h1>Wyimaginowana</h1>
        <small id="bottom">Kwiaty na każdą okazję</small>
    </div>
</div>
