<nav class="navbar-nav navbar-expand-md nav_bar navbar-dark ">
    <a class="navbar-brand" href="{{ url_for('home') }}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('contact') }}">Kontakt</a>
        </li>
        {% if current_user.is_authenticated  %}
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('logout') }}">Wyloguj</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">@{{current_user.username}}</a>
            </li>
        {% else %}
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('login') }}">Zaloguj</a>
            </li>
        {% endif %}
        {% if current_user.is_admin %}
            <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('add_post') }}">Dodaj post</a>
            </li>
            <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('manage') }}">Zarządzaj stroną</a>
            </li>
        {% endif %}
      </ul>
    </div>
</nav>
