{% extends 'base.html' %}
{% block title %}
<title>Wyimaginowana kwiaciarnia: Zaloguj</title>
{% endblock %}
{% block content %}
<div class="card w-50 m-auto">
	<div class="card-body">
		<form method="POST">
			{{ form.hidden_tag() }}
			<div class="form-group">
				<label for="exampleFormControlInput1">Adres email:</label>
				<input type="email" class="form-control" id="exampleFormControlInput1" name = "email">
			</div>
			<div class="form-group">
				<label for="exampleFormControlInput2">Hasło:</label>
				<input type="password" class="form-control" id="exampleFormControlInput2" name = "password">
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary" name="submit">Zaloguj</button>
			</div>
		</form>
		<hr>
		<p>Nie masz jeszcze konta?</p>
		<div class="form-group">
			<a class="btn btn-secondary" href="{{ url_for('register') }}" role="button">Zarejestruj</a>
		</div>
	</div>
</div>
{% endblock %}