{% extends 'base.html' %}
{% block content %}
<div class="scrollmenu scrolly">
  {% for product in products %}
    <div class="card max-height padding-btm" style="width: 18rem;">
      {% if product.category == products_category.id %}
        <img class="card-img-top card-colour img-size" src="/static/uploads/products/{{product.id}}.png" alt="{{product.name}}" onerror="this.onerror=null;this.src='/static/uploads/logo/filler.png';">
      {% endif %}
      <div class="card-body padding-btm">
        <h4 class="card-title">{{product.name}}</h4>
        <h6 class="card-text">{{product.description|truncate(50)}}</h6>
       
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#Modal-MoreInfo-{{ product.id }}">
          Więcej informacji
        </button>

        <!-- Modal -->
        <div class="modal fade" id="Modal-MoreInfo-{{ product.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{{product.name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <img class="card-img-top card-colour img-size" src="/static/uploads/products/{{product.id}}.png" alt="{{product.name}}" onerror="this.onerror=null;this.src='/static/uploads/logo/filler.png';">
                <br>
                <h6>{{product.description}}</h6>
              </div>
              <div class="modal-footer">
                <!-- First button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal-{{ product.id }}">Kup</button>

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                <!-- Modal -->
                <div class="modal fade modal-pos" id="exampleModal-{{ product.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{product.name}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <h6>Aby dokonać realizacji zamówienia podaj numer telefonu pod którym możemy się skontaktować z tobą w celu finalizacji zamówienia.</h6>

                        <!-- Form to make an oreder -->
                        <form method="POST">
                          <input type="text" name="phone-number" required>
                          <input type="hidden" value="{{product.id}}" name="product">
                          <input type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal-{{ product.id }}" value="Potwierdź zakup">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                        </form>

                      </div>
                      <div class="modal-footer">
                        
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}

