{% extends 'base.html' %}
{% block title %}
<title>Zarządzaj: dodaj produkt</title>
{% endblock %}
{% block content %}
{% if current_user.is_admin %}
<div>
    <form method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div>
            {{ form.category.label() }}
            {{ form.category() }}
        </div>
        <div>
            {{ form.name.label() }}
            {{ form.name() }}
        </div>
        <div>
            {{ form.description.label() }}
            {{ form.description() }}
        </div>
        <div>
            {{ form.price.label() }}
            {{ form.price() }}
        </div>
        <div>
            <input type=file name=file>
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
</div>
{% endif %}
{% endblock content %}