{% extends 'base.html' %}
{% block title %}
    <title>Zarządzanie stroną: Admin</title>
{% endblock %}
{% block content %}
<div>
    <a class="nav-link" href="{{ url_for('add_post') }}">Dodaj post</a>
    <br>
    <a href="{{url_for('manage_posts')}}">Zarządzaj postami</a>
    <hr>
    <a class="nav-link" href='{{ url_for("add_product") }}'>Dodaj produkt</a>
    <br>
    <a href="{{url_for('manage_products')}}">Zarządzaj produktami</a>
    <hr>
    <a href="{{url_for('manage_categories')}}">Zarządzaj kategoriami</a>
</div>
{% endblock %}