{% extends 'base.html' %}
{% block title %}
    <title>Zarządzanie danymi kontaktowymi</title>
{% endblock %}
{% block content %}
<div>
    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal-adres">
    Dodaj adres
</button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal-adres" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Dodaj adres</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="POST">
              {{ addres_form.hidden_tag() }}
              <label>{{addres_form.addres.label()}} </label>
              {{addres_form.addres}}
              <br>
              <button type="submit" class="btn btn-primary" value='{{addres_form.submit}}'>Potwierdź</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
            </form>
            <div class="feed_spacer"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal-numer">
    Dodaj numer
</button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal-numer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Dodaj numer telefonu</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST">
              {{ contact_form.hidden_tag() }}
              <label>{{contact_form.phone_number.label()}} </label>
              {{contact_form.phone_number}}
              <br>
              <label>{{contact_form.number_owner.label()}} </label>
              {{contact_form.number_owner}}
              <br>
              <button type="submit" class="btn btn-primary" value='{{contact_form.submit}}'>Potwierdź</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
          </form>
          <div class="feed_spacer"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal-link">
    Dodaj link
</button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal-link" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Dodaj link do mediów społecznościowych</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST">
            {{ socials_form.hidden_tag() }}
            <label>{{socials_form.social_media_link.label()}} </label>
            {{socials_form.social_media_link}}
            <label>{{socials_form.media.label()}} </label>
            {{socials_form.media}}
            <br>
            <button type="submit" class="btn btn-primary" value='{{socials_form.submit}}'>Potwierdź</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
          </form>
        <div class="feed_spacer"></div>
        </div>
      </div>
    </div>
  </div>
  <hr>
    {% for addres in data_addres %}
        <span>{{addres.addres}}</span> | <a href="{{ url_for('edit_addres', id=addres.id) }}">Edytuj dane</a> | <a href="{{ url_for('delete_addres', id=addres.id) }}">Usuń</a>
        <br>
    {% endfor %}
    <hr>
    {% for number in data_contact %}
        <span>{{number.number_owner}}: {{number.phone_number}}</span> | <a href="{{ url_for('edit_contact', id=number.id) }}">Edytuj dane</a> | <a href="{{ url_for('delete_contact', id=number.id) }}">Usuń</a>
        <br>
    {% endfor %}
    <hr>
    {% for social in data_socials %}
        <span>{{ social.social_media_link }}</span> | <a href="{{ url_for('edit_social', id=social.id) }}">Edytuj dane</a> | <a href="{{ url_for('delete_social', id=social.id) }}">Usuń</a>
        <br>
    {% endfor %}
</div>
{% endblock %}